/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5,
h6 {
  font-size: 1em;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 50px;
  padding: 15px 20px;
  transition: all 0.3s;
  flex: 1;
  margin-bottom: 50px;
}

@media (max-width: 1199px) {
  #main {
    padding: 15px;
  }
}

/*--------------------------------------------------------------
# Custom adjustments for tab content
--------------------------------------------------------------*/
.tab-content {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 50px 0;
  background-color: #ffffff; /* Cambiado a blanco */
  color: #444444; /* Texto en un tono oscuro para contraste */
  font-size: 14px;
  margin-top: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  text-align: center;
}

.footer .widget-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #32CD32; /* Verde lima */
}

.footer address {
  font-style: normal;
  line-height: 1.8;
}

.footer .social-list {
  margin-top: 15px;
}

.footer .social-list a {
  color: #444444; /* Color del icono */
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer .social-list a:hover {
  color: #32CD32; /* Verde lima */
}

.footer .copyright,
.footer .credits {
  text-align: center;
  margin-top: 20px;
}

.footer .credits a {
  color: #32CD32; /* Verde lima */
  text-decoration: underline;
}

.footer .credits a:hover {
  color: #444444;
  text-decoration: none;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-section {
    margin: 20px 0;
  }
}

/* Asegura que el contenido siempre ocupe al menos el espacio de la pantalla */
.content-container {
  padding-bottom: 60px;
  flex: 1;
  min-height: calc(100vh - 100px);
}

/*--------------------------------------------------------------
# Custom table adjustments
--------------------------------------------------------------*/
.table {
  width: 100%;
  table-layout: auto;
  overflow-x: auto;
}

.table td, .table th {
  white-space: nowrap;
  padding: 6px 8px;
  font-size: 0.85em;
}

.datatable {
  width: 100%;
  overflow-x: auto;
}
