<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">
        <h1 class="text-3xl font-bold text-center text-green-700">Registrarse</h1>
        <form action="/storeUser" method="POST" class="mt-4" onsubmit="return validateForm()">
            <div class="mb-4">
                <label for="name" class="block text-lg font-medium text-gray-700">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Nombre"
                       class="border border-gray-300 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-100 focus:bg-white focus:border-green-500"
                       required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-lg font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" name="email" id="email" placeholder="Correo Electrónico"
                       class="border border-gray-300 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-100 focus:bg-white focus:border-green-500"
                       required>
            </div>
            <div class="mb-4 relative">
                <label for="passwordRegister" class="block text-lg font-medium text-gray-700">Contraseña</label>
                <div class="flex items-center">
                    <input type="password" name="password" id="passwordRegister" placeholder="Contraseña"
                           class="border border-gray-300 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-100 focus:bg-white focus:border-green-500 pr-12"
                           required>
                    <i class="fas fa-eye absolute right-3 cursor-pointer text-gray-600" onclick="togglePassword('passwordRegister')"></i>
                </div>
                <p id="passwordError" class="text-red-600 text-sm hidden">La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una letra minúscula, un dígito y un carácter especial.</p>
            </div>
            
            <button type="submit"
                    class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-green-600 focus:bg-green-700 focus:outline-none">
                Registrarse
            </button>
            <p class="text-center mt-4">
                ¿Ya tienes una cuenta? <a href="/login" class="text-blue-600 hover:text-blue-800">Iniciar sesión</a>
            </p>
        </form>
    </div>

    <script>
        function togglePassword(passwordId) {
            var password = document.getElementById(passwordId);
            var icon = document.querySelector(`#${passwordId} ~ i`);
            if (password.type === "password") {
                password.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                password.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }

        function validateForm() {
            var password = document.getElementById('passwordRegister').value;
            var passwordError = document.getElementById('passwordError');

            // Password validation pattern
            var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}$/;

            var isValid = true;

            // Validate password strength
            if (!pattern.test(password)) {
                passwordError.classList.remove('hidden');
                isValid = false;
            } else {
                passwordError.classList.add('hidden');
            }

            return isValid;
        }
    </script>
</body>
</html>
