<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Tailwind CSS Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/dashboard/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/dashboard/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/dashboard/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="/dashboard/NiceAdmin/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <link href="/dashboard/NiceAdmin/assets/css/style.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <nav class="flex py-5 bg-white text-black px-4 items-center relative w-full">
        <div class="flex items-center w-1/2 px-4">
            <img src="/img/AgroNexo.png" alt="Logo AgroNexo" class="h-14 w-14 mr-2">
            <h1 class="text-2xl font-bold text-black">AgroNexo</h1>
        </div>
        <ul class="w-1/2 px-4 ml-auto flex justify-end items-center">
            {{#if user}}
                <li class="nav-item px-4 flex items-center">
                    <p class="font-semibold mr-2">{{user.name}}</p>
                    <span class="text-sm bg-custom-green px-2 py-1 rounded">{{user.role}}</span>
                </li>
                <!-- Menú basado en roles -->
                {{#ifCond user.role '==' 'Analista de Datos'}}
                    <li class="nav-item px-4 flex items-center">
                        <a href="/analista-dashboard" class="nav-link flex items-center">
                            <i class="fas fa-tools mr-2" title="Dashboard de Agricultor"></i> Dashboard Analista de Datos
                        </a>
                    </li>
                {{/ifCond}}
                {{#ifCond user.role '==' 'Usuarios'}}
                    <li class="nav-item px-4 flex items-center">
                        <a href="/user-dashboard" class="nav-link flex items-center">
                            <i class="fas fa-tools mr-2" title="Dashboard de Usuario"></i> Dashboard Usuario
                        </a>
                    </li>
                {{/ifCond}}
                {{#ifCond user.role '==' 'Administrador'}}
                    <li class="nav-item px-4 flex items-center">
                        <a href="/admin-dashboard" class="nav-link flex items-center">
                            <i class="fas fa-tools mr-2" title="Admin Panel"></i> Dashboard Administrador
                        </a>
                    </li>
                {{/ifCond}}
                <!-- Íconos de Font Awesome para perfil y cierre de sesión -->
                <li class="nav-item px-4 flex items-center">
                    <a href="/dashboard/functions/edit-profile" class="nav-link flex items-center">
                        <i class="fas fa-user-edit mr-2" title="Editar Perfil"></i>
                    </a>
                </li>
                <li class="nav-item px-4 flex items-center">
                    <a href="/logout" class="nav-link flex items-center">
                        <i class="fas fa-sign-out-alt mr-2" title="Cerrar Sesión"></i>
                    </a>    
                </li>
            {{else}}
                    <a href="/index" class="nav-link font-semibold border-2 border-green-500 hover:bg-green-500 hover:text-white py-3 px-4 rounded-md">Inicio</a>
                    <a href="/login" class="nav-link font-semibold border-2 border-green-500 hover:bg-green-500 hover:text-white py-3 px-4 rounded-md">Iniciar Sesión</a>
                    <a href="/register" class="nav-link font-semibold border-2 border-green-500 hover:bg-green-500 hover:text-white py-3 px-4 rounded-md">Registrarse</a>
            {{/if}}
        </ul>
    </nav>

    <!-- Contenido de la página -->
    <div class="w-full mt-0 px-09">
        {{{body}}}
    </div>

<!-- Footer -->
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <!-- Información de contacto -->
        <div class="footer-section">
            <h4 class="widget-title">AgroViabilidad</h4>
            <address>
                Cra. 8 #170-52<br>
                Bogotá, Colombia
            </address>
        </div>
        <!-- Redes sociales -->
        <div class="footer-section">
            <h4 class="widget-title">Síguenos</h4>
            <div class="social-list">
                <a href="https://x.com/ialabsoficial"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/people/IA-Labs/pfbid02Cfsib96tb57gQR1epcqc3UjPQwe41ddMwGSRpjBuC5Uh3rbtw2QDN7YVqNPqL6o3l/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/marketing-ialabs-3b03b727b/?original_referer=https%3A%2F%2Fwww.ialabs.com.co%2F"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/ialabs_oficial/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <!-- Derechos y créditos -->
        <div class="footer-section">
            <h4 class="widget-title">Créditos</h4>
            <p>© AgroNexo. Todos los derechos reservados.</p>
            <p>Diseñado por el equipo de desarrollo:</p>
            <p>Eric Gonzalez, Paula Ortiz, Andres Mora y Javier Abril.</p>
            <p>Para: <a href="#">IA LABS</a></p>
        </div>
    </div>
</footer>

  <!-- / Footer -->
  
</body>
</html>
